#content_area 
{
    padding-top: 10px;
}

#left_content
{
    float: left;
    width: 774px;
    background-color: #f1eded;
    color: #000;
    min-height: 376px;
    padding: 10px;
}	

#right_content
{
    float: left;
    width: 170px;
    background-color: #d5d4d4;
    padding: 10px;
}

.clear{
    clear: both;
}