#Contact-2 ul {
    list-style: none;
    padding: 0px;
}
#Contact-2
{
    padding: 0px;
    color: #000;
}
#Contact-2 input{
    width: 165px;
    background-color: #274c5f;
    border: 1px solid #000;
    color: #fff;
}
#Contact-2 textarea{
    width: 163px;
    height: 64px;
    background-color: #274c5f;
    border: 1px solid #000;
    color: #fff;
}


.ContactUsError
{
    color: #F00;
    font-weight: bold;
}
.ContactUsSucess
{
    color: #0F0;
}