/* 
    Document   : Navigation
    Created on : 15-Dec-2012, 13:00:46
    Author     : Daniel
    Description:
        Purpose of the stylesheet follows.
        This is just the navigation area of the site
*/

#nav_container
{
    height: 14px;
}

#Navigationa ul {
    padding: 0px;
}

#Navigation li {
    list-style: none;
    float: left;
    color: #000;
    padding-right: 30px;
    padding-bottom: 10px;
}

#Navigation li:hover {
    list-style: none;
    float: left;
    color: #AAA;
    font-weight: strong;
    padding-right: 30px;
    padding-bottom: 10px;
}