/* 
    Document   : Products
    Created on : 15-Dec-2012, 22:11:08
    Author     : Daniel
    Description:
        Purpose of the stylesheet follows.
        This is for the control of the products page for CSS
*/



#latest_products li{
    width: 228px;
    background-color: #2581ab;
    float: left;
    padding: 5px;
    color: #000;
    margin-left: 10px;
    list-style-type: none;
    text-align: center;
}

#latest_products ul li:first-child {
    margin-left: 0px;
}

.LatestProductViewMoreImage
{
    width: 230px;
}





.LatestProductViewMoreImage_crop
{   
    padding-top: 5px;
    margin-bottom: 5px;
    height: 75px;
    width: 230px;
    overflow: hidden;
}

a.LatestProductViewMore:link{
    width: 230px;
    color: #fff;
    display: block;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    background-color: #000;
}

a.LatestProductViewMore:active{
    width: 230px;
    color: #fff;
    display: block;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    background-color: #000;
}

a.LatestProductViewMore:visited{
    width: 230px;
    color: #fff;
    display: block;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    background-color: #000;
}

a.LatestProductViewMore:hover{
    width: 230px;
    color: #fff;
    display: block;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    background-color: #484748;
}