/* 
    Document   : rotating_image
    Created on : 15-Dec-2012, 13:32:33
    Author     : Daniel
    Description:
        Purpose of the stylesheet follows.
        To hold the rotating image files in place
*/

#rotating_image_container{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 182px;
}

li.rotating_image {
    border: 1px;
    border-color: #22a0da;
    border-style: solid;
    list-style-type: none;
    height: 150px;
    width: 982px;    
}
